@import '../node_modules/normalize.css/normalize.css';
/* @import "normalize.css/normalize.css" */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../public/static/fonts/fonts.css';


html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
